ul{
    color: red;
}
ol{
    color: green;
}
.Formacion{
    color: red;
}
.Cursos1{
    color: red;
}
.Cursos2{
    color: red;
}
.DatosPersonales{
    background-color:lightcoral;
    font-size: 14px;
    color: #74030a;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    
}
.FormacionAcademica{
    background-color:rgb(94, 169, 204);
    font-size: 14px;
    color: #0d17a3;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px dotted;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
}
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    background-color:#DFF5FD;
    margin: 20px;
}
.h1{
    
}