body{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 26px;
    color: black;
}
table,td,th {
    border-collapse: collapse;
    padding: 8px;
  }

  table{
    text-align: center;
    margin: 5px auto 5px auto;
    border: solid 1px;
  }
  
 th{
    background-color: yellow;
    color: darkgoldenrod;
    border-bottom: solid 1px;
 }

 caption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: green;
    text-align: center;
    
 }
 .gris{
    background-color: rgb(243, 234, 234);
 }
 
 .azul{
    background-color: rgb(212, 212, 236);
 }