h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: darkblue;
    text-align: center;
    background-color: white;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin: 20px auto;
    width: 70%;
}

ul{
    background-color:lightcoral;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    margin: 10px 0px 10px 0px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    padding: 25px;
    width: 20%;
    list-style-image: url(../imagen/carpeta.gif);
}
a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:visited {
    color: rgb(25, 42, 194);

}
a:hover {
    color: white;
}
body{
    background-color:darkgray ;
}
nav ul li{
    margin-bottom: 10px;
}